/**
 * Color Palet:
 *  #e23636	(226,54,54)
 *  #000000	(0,0,0)
 *  #504a4a	(80,74,74)
 *  #518cca	(81,140,202)
 *  #f78f3f	(247,143,63)
 */

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  display: block;
  margin: 0px;
  background: url('public/images/marvel-background.jpg');
  background-size: contain;
}

a {
  text-decoration: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #333;
  align-items: center;
}

.app > h1 {
  color: white;
}

header {
  color: #fff;
  width: 100%;
  background-color: #e23636;
  font-family: 'PT Sans', sans-serif;
  top: 0px;
  left: 0px;
}

header input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #504a4a;
  border-radius: 4px;
  font-size: 1.2em;
  float: right;
  margin-top: 10px;
}

.headerContainer {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0
}

.headerContainer:after {
  content: "";
  display: table;
  clear: both
}

.headerLogo {
  color: #fff;
  letter-spacing: -5px;
  font-size: 40px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-weight: 900;
  padding: 20px 40px;
}

.headerLogo:hover {
  color: #f9627d
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.landing {
  background-color: #504a4a;
  padding: 15px 30px;
  border-radius: 5px;
}

.landing > h1 {
  color: #e23636;
  font-family: 'PT Sans', sans-serif;;
  font-weight: normal;
}

.landing input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.above-screen {
  margin-top: -50%;
}

.main-container {
  margin-top: 12%;
  text-align: center;
  -webkit-transition: margin .7s ease-in-out;
  transition: margin .7s ease-in-out;
}

.main-container img, .main-container h3 {
  -webkit-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

.main-container h3 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 900;
  opacity: 0.8;
  background: rgba(0,0,0,1);
}

.main-container .search-container {
  position: relative;
  width: 100%;
  -webkit-transition: width .6s ease-in-out;
  transition: width .6s ease-in-out;
}

.search-bar {
  width: 100%
}

input.search-bar {
  background: #fff;
  font-size: 1.5em;
  padding: 8px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px 10px;
  background: #e23636;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background: #f78f3f;
}

.search-icon {
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  border: 5px solid #fff;
  height: 30px;
  width: 30px;
  position: relative
}

.search-icon:after {
  content: "";
  position: absolute;
  top: 21.604999999999997px;
  left: 14.302499999999998px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 5px;
  width: 15px;
  background-color: #fff;
  border-radius: 10px
}

.fly-up {
  margin-top: -300px;
}

.fly-up img, .fly-up h3 {
  opacity: 0
}

.fly-up .search-container {
  width: 65%;
}

.results-loading-gif {
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

.results-container {
  margin-top: 20px;
  padding-top: 50px;
  opacity: 0;
  -webkit-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
  width: 100%;
  background: rgba(255,255,255,0.7);
}

.results-container.display {
  opacity: 1;
}

.results-container > .Grid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/** TEST **/

.Grid-cell.character-details.before-transition img {
  height: 200px;
  width: 280px;
}

.character-details {
  background: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 90vh;
  left: 0;
  top: 0;
  position: relative;
  overflow: visible;
  transition: all 1s;
}

.character-details > div {
    padding-left: 2%;
    max-width: 600px;
  }

.character-details > img {
  max-height: 70vh;
  max-width: 100vw;
  width: auto;
  transition: width 1s, height 1s;
}

.character-details > h3 {
    font-size: 1em;
  }

@media (min-width: 768px) {
  .character-details {
    display: flex;
  }

  .character-details > img {
    max-width: 50vw;
    max-height: 90vh;
  }

  .character-details > h3 {
    font-size: 1em;
  }
}

.links {
  display: flex;
}

a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.links a:hover {
  color: #e23636;
}


.links a {
  background-color: #e23636;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  width: 180px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
}

.links a::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 0;
  top: 50%;
  background: #f78f3f;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.links a.details::after {
  -webkit-transform: translateX(-76%) translateY(-50%) rotate(45deg);
  transform: translateX(-76%) translateY(-50%) rotate(45deg);
}

.links a.error::after {
  -webkit-transform: translateX(-64%) translateY(-50%) rotate(45deg);
  transform: translateX(-64%) translateY(-50%) rotate(45deg);
}

.links a:hover::after {
  opacity: 1;
  height: 150%;
}

/** FLEX BOX **/
*,:after,:before {
    box-sizing: border-box
}

.Grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.Grid--full .Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%
}

@media (min-width: 576px) {
    .med-Grid--1of2 .Grid-cell {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%
    }
}

@media (min-width: 768px) {
    .large-Grid--1of4 .Grid-cell {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        flex: 0 0 25%
    }
}

.Grid--gutters {
    margin: -1em 0 1em -1em
}

.Grid--gutters .Grid-cell {
    padding: 1em 0 0 1em
}
